<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title> Attendance Page </title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
    integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous">
  </script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
    integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous">
  </script>

</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="/">Employee</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <!-- <li class="nav-item active">
					<form action="/addemp" autocomplete="on" method="POST" enctype="multipart/form-data">
						<button type="submit" formaction="/getemp" class="btn btn-outline-info">GET EMPLOYEE INFORMATION</button>
					</form>
				</li> -->
        <!-- <li class="nav-item">
					<a class="nav-link" href="/">Home</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/getemp">GET EMPLOYEE INFORMATION</a>
				</li> -->

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Home
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="/">Employee Database</a>
            <a class="dropdown-item" href="/addtimeP">Time Database</a>
            <a class="dropdown-item" href="/attendanceempP">Attendance Database</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/getemp">GET EMPLOYEE INFORMATION</a>
        </li>
      </ul>
    </div>
  </nav>

  <div class="container">
    <h3 class="display-6 fw-bold pb-2">Attendance Record</h3>





    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">No</th>
          <th scope="col">AttendanceID</th>
          <th scope="col">EmployeeID</th>

          <th scope="col">TimeIN</th>
          <th scope="col">TimeOut</th>
        </tr>
      </thead>
      <tbody>
        <tr>

          <td>
            <input type="text" name="attendanceID" required ">  
                  
          </td>
      

          <td>    
              <input type=" text" name="empID" required ">  
                  
          </td>
        

          <td>    
              <input type=" text" name="timeIn" required ">  
                  
          </td>

  
   
          <td>    
               <div class=" input-group mb-3">
            <input type="text" name="timeOut" required ">  
                  </div>
          </td>
          
    </tr>
     
       
  </tbody>
</table>
       </div>
</body>     
</html>  